{{ template "common_head" . }}
<p>
壱百満天原サロメお嬢様、及びその所属の にじさんじ や、
その関係者、ファンコミュニティの方の迷惑にならないように使ってください。
</p>

<p>
本アプリは、にじさんじ所属の壱百満天原サロメお嬢様のキャラクターを題材にした二次創作の一つです。
故に、本アプリは以下二次創作ガイドラインに従います。
</p>

<p>
<a href="https://event.nijisanji.app/guidelines/">ANYCOLOR二次創作ガイドライン</a>
</p>

<p>
本アプリを使う場合も上記ガイドラインを守ってお使いください。
</p>

<p>
ツイートボタンを押して出力結果をツイートする際も、
ツイート内容が他の方のご迷惑とならないようにご配慮願います。
</p>

<p>
以上
</p>
{{ template "common_foot" . }}
