{{ define "header" }}
<header>
  <h1><a href="/">Ojosama web converter</a></h1>
  <p>{{ .Description }}</p>
  <p>
    アプリの実行基盤として使用している<a href="https://blog.heroku.com/next-chapter">Herokuの無料プラン廃止</a>に伴って
    アプリの実行基盤の変更と、サイトのドメイン名を変更します。
  </p>
  <p>
    現在このアプリのサイトURLは ojosama.herokuapp.com ですが
    今後 <a href="https://ojosama.jiro4989.com">ojosama.jiro4989.com</a> に変更します。
  </p>
  <p>
    付きましては、ブラウザのブックマークなどに登録している方は上記の新しいURLの方で登録しなおすのをお願いします。<br/>
    ojosama.herokuapp.com の方は2022年10月中のどこかのタイミングで廃止します。
  </p>
</header>
{{ end }}
