body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: repeat url("../../assets/images/body.png"), #513439;
    background-size: 102px 170px;
}

@media screen and (min-width: 990px) {
    body {
        background-size: 204px 340px;
    }
}

header, footer {
    color: #FBF7F4;
    text-align: center;
}

header {
    margin-bottom: 20px;
    padding-bottom: 30px;
    background: repeat-x bottom url("../../assets/images/header.png");
    background-size: 50px auto;
}

@media screen and (min-width: 990px) {
    header {
        margin-bottom: 30px;
        padding-bottom: 50px;
        background-size: auto;
    }
}

footer {
    margin-top: 10px;
}

@media screen and (min-width: 990px) {
    footer {
        margin-top: 30px;
    }
}

footer > span {
    background-color: #513439;
}

section {
    padding: 10px 1% 10px 1%;
    color: #FBF7F4;
    border-radius: 20px 0 20px 0;
    background: no-repeat bottom 3px right 2px/50px 50px url("../../assets/images/section.png"), #C63684;
}

@media screen and (min-width: 990px) {
    section {
        padding: 1%;
    }
}

section + section {
    margin-top: 10px;
}

@media screen and (min-width: 990px) {
    section + section {
        margin-top: 30px;
    }
}

textarea {
    width: 100%;
    margin: 10px 0;
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    transition: 0.3s;
    letter-spacing: 1px;
    background-color: #FBF7F4;
    color: #111111;
    height: 15vh;
}

h1, h2 {
    margin: 0;
    font-family: fantasy, sans-serif;
}

h1 {
    padding: 1%;
}

h1 + p {
    margin: 0;
}

h2 {
    margin-bottom: 10px;
    padding: 0;
}

@media screen and (min-width: 990px) {
    h2 {
        margin-bottom: 0
    }
}

h2 + p {
    margin: 0;
}

a {
    color: #ddd;
}

.app {
    font-size: 18px;
    font-family: sans-serif;
}

.main-area {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 0px) {
    .main-area {
        width: 98vw;
    }
}

@media screen and (min-width: 900px) {
    .main-area {
        width: 60vw;
    }
}

.button {
    width: 30%;
    margin: 0;
    padding: 5px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    color: #FBF7F4;
    font-size: 20px;
}

#convert-button {
    background-color: #D7A357;
}

#convert-button:disabled {
    background-color: #cccccc;
}

#tweet-button {
    background-color: #00ACEE;
}

#tweet-button:disabled {
    background-color: #cccccc;
}
